$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Italiana', sans-serif;

$white: #ffffff;
$background: #f5f5f5;
$foreground: #3c353d;
$gray: #6e696f;
$disabled: #e7e6e7;

$accent: #740986;
$accent-light: #ecddff;
$accent-pink: #ebdfe9;
$external-link: #370e6b;

$error: #f44336;
$warning: #ffc107;
$success: #1ab03b;
$information: #370e6b;
