body{
    background-color: white;
}
.menu{
    right: 0;
    position: fixed;
    max-width: 100px;
}
.menu .menu-label{
    display: table;
    /* position: fixed; */    
    right: -1000px;
    padding-left: 100px;
    transition: .8s all;    
}
.menu:hover .menu-label, .menu:hover li{
    padding: 0 100px 0 0;
    transition: .8s all;
}
.title{
    font-size: 100px;
}
.skills{
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(212, 12, 136), rgb(27, 148, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about{
    border: 1px solid purple;
}
#about:active{
    border: 2px solid red;
}
.content{
    width: 100px;
    height: 500px;
}
#element::-webkit-scrollbar { 
    display: none; 
}
@media (max-width: 420px){
    .menu{
        
    }
}